@import '../../styles/all';

.relatedBetCard
{
    width:           100%;
    border-radius:   6px;
    font-family:     $fontLight;
    color:           $colorBlack;
    display:         flex;
    position:        relative;
    justify-content: space-between;
    flex-direction:  column;
    user-select:     none;
    cursor:          pointer;
    overflow:        hidden;
    z-index:         1;
    margin-bottom:   0.5rem;
    
    .relatedBetCardContent
    {
        padding:          1.5rem 1.5rem;
        border-radius:    6px 6px 0 0;
        background-color: $colorWhite;
        position:         relative;
        display:          flex;
        justify-content:  space-between;
        flex-flow:        row wrap;
    }

    .title
    {
        font-family: $fontBold;
        display:     flex;
        margin:      0 0 1rem;
        flex-basis:  90%;
    }

    .menuItem
    {
        flex-basis:  10%;
    }

    .relatedBetCardFooter
    {
        width:            100%;
        display:          flex;
        justify-content:  flex-end;
        align-items:      center;
        background-color: rgba(241, 242, 246, 0.33);
        padding:          1rem 1.5rem;
        border-radius:    0 0 6px 6px;
        color:            $colorWhite;

        .timeLeftCounterContainer
        {
            display:     flex;
            align-items: center;
            color:       $colorWhite;
            font-family: $fontLight;
            font-size:   10px;
        }
    }
}